.homeContainer {
  height: 100%;
  width: 100%;
}

.homeContents {
  display: grid;
  width: 60%;
  margin: 0 auto;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 5%;
}

.profileContainer {
  height: 50vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.mainContainer {
  height: 88vh;
  width: 100%;
  overflow-y: scroll;
  padding: 10px;
  scrollbar-color: #eeee;
  scrollbar-width: thin;
}
.mainContainer::-webkit-scrollbar {
  width: 3px;
}

.mainContainer .productContainer {
  height: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}


.productHeader {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto;
}

.productHeader h1 {
  font-size: 1.4em;
  font-family: sans-serif;
  margin-top: 5px;
}

.productHeader .CartIcon {
  font-size: 1.4em;
  font-family: sans-serif;
  margin-top: 5px;
  cursor: pointer;
}

.productImage {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.productImage .image {
  width: 100%;
  height: 100%;
}

.productDescription {
  width: 80%;
  margin: 20px auto;
}

.productDescription .description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productDescription .description h1:nth-child(1) {
  font-weight: 900;
  font-size: 1.2em;
  margin-right: 10px;
}

.productDescription .description h1:nth-child(2) {
  font-weight: 400;
  font-size: 1.2em;
}

.rightContainer {
  height: 30vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}